@model DoAn3.Models.Hinhanh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hinhanh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HaMa" class="control-label"></label>
                <input asp-for="HaMa" class="form-control" />
                <span asp-validation-for="HaMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HaTen" class="control-label"></label>
                <input asp-for="HaTen" class="form-control" />
                <span asp-validation-for="HaTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HaUrl" class="control-label"></label>
                <input asp-for="HaUrl" class="form-control" />
                <span asp-validation-for="HaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

