@model DoAn3.Models.Baidanhgia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Baidanhgia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BdgMa" />
            <div class="form-group">
                <label asp-for="BdgNoidung" class="control-label"></label>
                <input asp-for="BdgNoidung" class="form-control" />
                <span asp-validation-for="BdgNoidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BdgLuotthich" class="control-label"></label>
                <input asp-for="BdgLuotthich" class="form-control" />
                <span asp-validation-for="BdgLuotthich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BdgTk" class="control-label"></label>
                <select asp-for="BdgTk" class="form-control" asp-items="ViewBag.BdgTk"></select>
                <span asp-validation-for="BdgTk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

